body {
    background: linear-gradient(hsl(0, 2%, 10%), hsl(286, 89%, 4%));

    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
    position: relative;

}

.text-block {
    width: 20vw;
}

h2 {
    color: #fcfcfc;
    font-family: Poppins, sans-serif;
    position: absolute;
    top: -5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 4em 0 4em 0;
    border: 1px solid rgb(252, 253, 253, 0.3);
    padding: 16px;
    font-size: 24px;
    border-radius: 5px;


}

.design-dev {
    color: rgb(34, 86, 219);
    font-family: Poppins, sans-serif;
    position: absolute;
    top: 3.5em;
    left: 1em;
    text-stroke: 2px black;
    border: 1px solid rgb(252, 253, 253, 0.5);
    padding: 16px;
}

.stack {
    color: rgb(218, 95, 185);
    font-family: Poppins, sans-serif;
    position: absolute;
    width: 20vw;
    top: 7em;
    left: 1em;
    text-stroke: 2px black;
    border: 1px solid rgb(252, 253, 253, 0.5);
    padding: 16px;
}



.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 800px;
    background: linear-gradient(to top, #1a1a1a, #1a1a1a);
    border: 1px solid hwb(180 99% 1%);
    position: relative;
    left: 50vw;
    transform: translate(-50%, -0%);
    /* margin-top: 4em; */
    /* background-image: url("Dark-carbon.jpg");
    background-size: cover;
    background-position: center; */

}


h1 {
    color: #1a1a1a;
    margin-top: 2em;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: .5px rgb(36, 37, 36);
    text-stroke: 0.5px black;
    border: 1px solid rgb(252, 253, 253, 0.5);
    padding: 8px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #fcfdfd;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    position: relative;
    /* background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px rgb(239, 231, 231);
    text-stroke: 0.5px black; */
    color: #fcfdfd;
    font-size: 16px;
    position: relative;
    left: -5em;
    top: 1em;
}


#color-wheel {
    display: block;
    border-radius: 50%;
    margin-bottom: 1em;
    width: 245px;
    height: 245px;
    cursor: crosshair;
}

.line-top {
    width: 100%;
    /* height: 1px; */
    /* background-color: #fcfdfd; */
    /* margin-bottom: 1em; */
    position: relative;
    top: -300px;
    border: 0.5px solid rgb(252, 253, 253, 0.5);

}

.line {
    width: 100%;
    /* height: 1px; */
    /* background-color: #fcfdfd; */
    /* margin-bottom: 1em; */
    position: relative;
    top: -10px;
    border: 1 dotted rgba(255, 255, 255);

}



#color-boxes {
    display: flex;
    justify-content: space-around;
    /* or space-between */
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;
    border: solid 1px rgb(255, 255, 255, 0.5);
    position: relative;
    width: 200px;
}

h5 {
    color: rgb(252, 253, 253, 0.75);
    font-size: 14px;
    -webkit-text-stroke: .2px rgb(48, 48, 48);
    text-stroke: 0.5px black;
    position: relative;

}

.color-box {
    width: 125px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    background-color: #393a3a;
    text-align: center;
    /* border-radius: 3px; */


}

/* Default styles */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 51em;
    width: 20vw;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(252, 253, 253, 0.5);
    position: relative;
    left: 50vw;
    top: 6em;
    transform: translate(-50%, -0%);
}

h6 {
    position: absolute;
    bottom: -28px;
    left: 10px;
    color: rgba(255, 255, 255, 0.84);
    width: 100px;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .app-container {
        width: 360px;
    }
}

/* Media query for screens smaller than 1200px */
@media (max-width: 992px) {
    .app-container {
        width: 360px;
    }
}

/* Media query for screens smaller than 992px */
@media (max-width: 768px) {
    .app-container {
        width: 360px;
    }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
    .app-container {
        width: 360px;
    }
}

/* Media query for screens smaller than 375px */
@media (max-width: 375px) {
    .app-container {
        width: 360px;

    }
}

.app-container {
    width: 360px;
    margin-top: 5em;
}